// colors
$main-color: #4a69e2;
$accent-color: #ffa52f;
$light-color: #fafafa;
$light-gray-color: #e7e7e3;
$gray-color: #70706e;
$dark-color: #232321;
$error-color: #da1e28;
$success-color: #008b28;

// font
$open-sans: "Open Sans";
$rubik: "Rubik";
$inter: "Inter";

// font weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;