.micro-product-card {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 10px 0;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &__image {
    border-radius: 8px;
    overflow: hidden;
    background-color: #dbdbd9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    min-width: 100px;

    @media (max-width: 991px) {
      width: 100%;
      height: 200px;
    }

    img {
      object-fit: contain;
      mix-blend-mode: darken;
      width: 95%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__count {
      display: flex;
      align-items: center;
      gap: 20px;

      &__value {
        display: flex;
        gap: 10px;
        font-size: 16px;

        span {
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
    }

    &__price {
      font-size: 20px;
      font-weight: 600;
      color: #4a69e2;
    }

    p {
      font-weight: 600;
      font-size: 19px;
      line-height: 1;

      a {
        color: #232321;
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 3px;

      li {
        display: flex;
        gap: 5px;
        align-items: flex-end;
        line-height: 1;
        font-size: 13px;

        strong {
          font-weight: 600;
        }
      }
    }
  }
}
