$error: #da1e28;
$dark: #232321;

@mixin text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #1f1a24;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-disabled {
    opacity: 0.3;
  }

  &-label {
    font-size: 14px;

    &__required {
      color: #da1e28;
    }
  }

  &-field {
    display: flex;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid $dark;

    &-icon {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    &-error {
      border-color: $error;
    }

    textarea {
      @include text;
      outline: $dark;
      border: none;
      box-shadow: none;
      display: flex;
      align-items: center;
      padding: 15px 40px 0 16px;
      width: 100%;
      max-width: 100%;
      height: 100%;
      background-color: transparent;

      &::placeholder {
        @include text;
        opacity: 0.6;
      }
    }
  }

  &-message-error {
    color: $error;
    font-size: 12px;
  }

  &-light {
    .textarea-field {
      border-color: #fff;
    }

    .textarea-message-error {
      background: #fff;
      padding: 4px;
      border-radius: 5px;
    }

    .textarea-label,
    textarea,
    textarea::placeholder {
      color: #fff;
    }
  }
}
