.category-page {
  &__banner {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  &__heading {
    margin-top: 30px;

    &__total {
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;

      @media (max-width: 991px) {
        margin-top: 0;
      }
    }
  }

  &__content-with-filters {
    display: flex;
    gap: 19px;

    &__filters {
      width: 25%;

      &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
      }
    }

    &__products {
      width: 75%;
    }
  }
}
