$filter-title-padding: 80px;

.category-page {
  position: relative;

  &__banner {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  &__heading {
    margin-top: 30px;

    &__filter-button {
      display: none;
      height: 40px;
      border-radius: 8px;
      font-weight: 500;
      background-color: #f4f2f2;
      border-radius: 8px;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      font-family: "Rubik";
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      text-transform: none;

      @media (max-width: 991px) {
        display: flex;
      }

      svg {
        scale: 1.2;
      }
    }
  }

  .category-heading {
    @media (max-width: 991px) {
      display: none;
    }

    &-mobile {
      display: none;
      margin-top: 18px;

      @media (max-width: 991px) {
        display: block;
      }
    }

    &__total {
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;

      @media (max-width: 991px) {
        margin-top: 0;
      }
    }
  }

  &__content-with-filters {
    display: flex;
    gap: 19px;

    &__filters {
      width: 25%;
      position: relative;

      .sticky-desktop-filters {
        position: sticky;
        top: 15px;
      }

      &-active__close {
        display: none;
      }

      @media (max-width: 991px) {
        position: fixed;
        opacity: 0;
        display: flex;
        flex-direction: column;

        &-active {
          transition: opacity 0.3s;
          top: 0;
          left: 0;
          opacity: 1;
          z-index: 101;
          background-color: #e7e7e3;
          width: 100%;
          height: calc(100% - $filter-title-padding - 60px);
          overflow-y: auto;
          padding-top: $filter-title-padding;

          h4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background-color: #f4f2f2;
            font-size: 20px;
            position: fixed;
            width: calc(100% - 32px);
            z-index: 10;
            left: 0;
            top: 0;
          }

          .filters {
            padding: 0 16px 24px;
          }

          &__close {
            display: block;
            scale: 2;

            &:hover {
              cursor: pointer;
            }
          }

          .filters__actions {
            position: fixed;
            bottom: 0;
            left: 0;
            width: calc(100% - 32px);
            z-index: 11;
            background-color: #e7e7e3;
            padding: 20px 16px 24px;
          }
        }

        .sticky-desktop-filters {
          position: static;
        }
      }

      &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
      }
    }

    &__products {
      width: 75%;

      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
