.category-page {
  &__banner {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  &__heading {
    margin-top: 30px;
  }

  &__content-with-filters {
    display: flex;
    gap: 19px;

    &__filters {
      width: 25%;
    }

    &__products {
      width: 75%;
    }
  }
}
