.product-options {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;

  &__option {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      font-weight: 600;
      text-transform: uppercase;

      &--required {
        color: #da1e28;
        font-weight: 600;
      }
    }
  }
}
