.product-options {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;

  &__option {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      font-weight: 600;
      text-transform: uppercase;

      &--required {
        color: #da1e28;
        font-weight: 600;
      }
    }
  }

  .round-checkbox-filter,
  .color-filter,
  .buttons-filter {
    gap: 6px;
  }

  &__reset {
    &__button {
      background-color: transparent;
      padding: 0;
      border-bottom: 1px solid #232321;
      border-radius: 0;
      line-height: 1;

      &:hover {
        border-color: transparent;
      }
    }
  }
}
