.full-screen-modal {
  background-color: #dbdbd9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 111;
  overflow-y: auto;
  padding: 15px;
  align-items: center;

  @media (max-width: 991px) {
    display: none;
  }

  &__close {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    scale: 4;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
      justify-content: center;
      aspect-ratio: 3 / 3;
      object-position: center;
      display: flex;
      align-items: center;
      max-width: 100%;
      height: 100%;
      width: 800px;
      background-color: #e7e7e3;
      border-radius: 24px;

      img {
        width: 100%;
        mix-blend-mode: darken;
        object-fit: contain;
        border-radius: 24px;
        overflow: hidden;
        background-color: #e7e7e3;

        &:hover {
          cursor: zoom-out;
        }
      }
    }
  }
}
