.upload-files {
  &__error {
    color: #da1e28;
    font-size: 12px;
  }

  &__area {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 20px;
    gap: 10px;

    &__required {
      color: #da1e28;
    }

    h3 {
      font-weight: 600;
      font-size: 14px;
      font-family: "Open sans";
    }

    button {
      background-color: #4b69e2;
      width: max-content;
    }

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__preview {
    opacity: 1;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    &__item {
      aspect-ratio: 3 / 3;
      width: 90px;
      background-color: #e7e7e3;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      user-select: none;

      &::after {
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      svg {
        opacity: 0;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        &::after,
        svg {
          opacity: 1;
          transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }

      img {
        object-fit: cover;
        width: 90%;
        height: 90%;
        mix-blend-mode: multiply;
      }
    }
  }
}
