.full-screen-modal {
  background-color: #dbdbd9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 111;
  overflow-y: auto;
  padding: 15px;
  align-items: center;

  &__close {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    scale: 4;

    @media (max-width: 1199px) {
      top: 15px;
      right: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
