.large-heading {
  width: 100%;
  font-size: 74px;
  font-weight: 600;
  line-height: 98%;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 24px;
    text-transform: none;
  }
}
