.gallery {
  &__main {
    margin-bottom: 20px;

    .carousel__slide {
      background-color: #d7d8d8;
    }
  }

  .carousel__slide {
    overflow: hidden;
    border-radius: 16px;

    img {
      mix-blend-mode: darken;
      object-fit: contain;
      width: 100%;
      height: 90%;
    }
  }

  &__thumbnails {
    display: flex;
    justify-content: center;

    .carousel__viewport {
      width: auto;
    }

    &__thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d7d8d8;
      border-radius: 8px;
      overflow: hidden;
    }

    .carousel__slide {
      min-width: 64px;

      &--active {
        .is-active {
          background-color: #e9f3f3;
          border: 3px solid #232321;
        }
      }

      img {
        width: 80%;
        height: 80%;
      }
    }
  }
}
