.product-list {
  margin-bottom: 60px;

  &__carousel {
    .carousel {
      padding-bottom: 40px;

      &__track {
        align-items: flex-start;
      }
    }
  }

  &__dots {
    margin-top: 32px;
  }

  &__cards {
    overflow: hidden;
    padding: 2px;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 38px;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      &.two-column {
        grid-template-columns: 1fr 1fr;
      }

      &.three-column {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;

    &__button {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 991px) {
        button {
          height: 40px;
        }
      }

      a {
        text-decoration: none;
        width: fit-content;
        display: block;
      }
    }
  }
}
