.product-list {
  &__products {
    margin-bottom: 60px;
    position: relative;

    @media (max-width: 991px) {
      margin-top: 20px;
    }

    &-loading {

      &::before {
        content: "";
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #e7e7e3;
        opacity: 0.1;
      }
    }

    &__cards {
      overflow: hidden;
      padding: 2px;

      &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 38px;

        @media (max-width: 991px) {
          grid-template-columns: 1fr 1fr;
        }

        &.two-column {
          grid-template-columns: 1fr 1fr;
        }

        &.three-column {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}
