.product-list {
  margin-bottom: 60px;

  &__carousel {
    .carousel {
      padding-bottom: 40px;

      &__track {
        align-items: flex-start;
      }

      &__pagination-button {
        width: 40px;
        height: 6px;
        background-color: #b6b6b2;
        border-radius: 8px;

        &--active {
          background-color: #416aea;
        }
      }
    }
  }

  &__dots {
    margin-top: 32px;
  }

  &__cards {
    overflow: hidden;
    padding: 2px;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 38px;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      &.two-column {
        grid-template-columns: 1fr 1fr;
      }

      &.three-column {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;

    &__title {
      width: 50%;
      font-size: 74px;
      font-weight: 600;
      line-height: 98%;
      text-transform: uppercase;

      @media (max-width: 991px) {
        font-size: 24px;
      }
    }

    &__title-carousel {
      font-size: 48px;
      font-weight: 600;

      @media (max-width: 991px) {
        font-size: 24px;
      }
    }

    &__button {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 991px) {
        button {
          height: 40px;
        }
      }

      a {
        text-decoration: none;
        width: fit-content;
        display: block;
      }
    }
  }
}
