.product-list {
  margin-bottom: 60px;

  &__carousel {
    .carousel {
      padding-bottom: 40px;

      &__pagination-button {
        width: 40px;
        height: 6px;
        background-color: #b6b6b2;
        border-radius: 8px;

        &--active {
          background-color: #416aea;
        }
      }

      &__track {
        align-items: flex-start;
      }
    }
  }

  &__dots {
    margin-top: 32px;
  }

  &__cards {
    overflow: hidden;
    padding: 2px;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 38px;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      &.two-column {
        grid-template-columns: 1fr 1fr;
      }

      &.three-column {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
