.product-list {
  margin-bottom: 60px;

  @media (max-width: 991px) {
    margin-top: 20px;
  }

  &__cards {
    overflow: hidden;
    padding: 2px;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 38px;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      &.two-column {
        grid-template-columns: 1fr 1fr;
      }

      &.three-column {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
