.reviews-list {
  padding: 100px 0 30px;

  @media (max-width: 991px) {
    padding: 30px 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }
  }
}
