.banner {
    border-radius: 48px;
    position: relative;
    background-color: #e7e7e3;

    @media (max-width: 991px) {
        border-radius: 16px;
    }

    &__image {
        width: 100%;
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 490px;

        @media (max-width: 991px) {
            max-width: 60%;
            left: 16px;
        }

        &__small-title {
            font-size: 24px;
            font-weight: 600;
            color: #e7e7e3;

            @media (max-width: 991px) {
                font-size: 12px;
                font-weight: 400;
            }
        }

        &__title {
            font-family: "Rubik";
            font-size: 74px;
            font-weight: 600;
            color: #fff;

            @media (max-width: 991px) {
                font-size: 20px;
            }
        }

        &__description {
            font-size: 20px;
            font-weight: 400;
            color: #e7e7e3;
            line-height: 1.3;

            @media (max-width: 991px) {
                font-size: 10px;
            }
        }
    }
}