.product-reviews {
  max-width: 1352px;
  margin: 32px auto;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (max-width: 1199px) {
    margin: 14px auto;
    padding: 10px;
    width: 100%;
  }

  &__unauthorized {
    img {
      width: 30px;
    }
  }

  &__add-review {
    justify-content: center;
    width: 200px;
    margin: auto;
  }

  &__need-auth {
    justify-content: center;
    width: max-content;
    text-transform: none;
    font-size: 18px;
    text-decoration: none;
  }

  &__form {
    height: auto;
    min-height: max-content;
    margin: auto;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
