.product-reviews {
  max-width: 1352px;
  margin: 32px auto;
  padding: 20px 16px;
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media (max-width: 1199px) {
    margin: 14px auto;
    padding: 10px;
  }

  &__form {
  }

  &__review {
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: #fafafa;
    padding: 32px;
    border-radius: 32px;

    @media (max-width: 1199px) {
      padding: 30px 16px;
      border-radius: 16px;
    }

    &__head {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      &__left {
        h3 {
          font-size: 24px;
          font-family: "Rubik";
          font-weight: 600;
          margin-bottom: 15px;

          @media (max-width: 1199px) {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }

      &__right {
        overflow: hidden;
        border-radius: 50%;
        width: 64px;
        height: 64px;

        @media (max-width: 1199px) {
          display: none;
        }

        img {
          object-fit: cover;
        }
      }
    }

    &__text {
      p {
        width: 90%;

        @media (max-width: 1199px) {
          width: 100%;
        }
      }
    }

    &__gallery {
      margin-top: 20px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      @media (max-width: 1199px) {
        gap: 7px;
      }

      &__image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 16px;
        background-color: #e7e7e3;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1199px) {
          border-radius: 8px;
        }

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          mix-blend-mode: darken;
          cursor: zoom-in;
          object-position: center;
        }
      }
    }
  }

  &__preview {
    background-color: #dbdbd9;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: auto;
      mix-blend-mode: darken;
    }
  }
}
