.heading-with {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;

  @media (max-width: 991px) {
    padding-bottom: 10px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    &__button {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 991px) {
        button {
          height: 40px;
        }
      }
    }

    a {
      text-decoration: none;
      width: fit-content;
      display: block;
    }
  }
}
