.not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  button {
    justify-content: center;
    width: 150px;
  }

  &__heading {
    font-size: 20px;
    line-height: 1.5;
  }
}
