.review-details {
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: #fafafa;
  padding: 32px;
  border-radius: 32px;
  width: 100%;

  @media (max-width: 1199px) {
    padding: 30px 16px;
    border-radius: 16px;
  }

  &__head {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    &__left {
      h3 {
        font-size: 24px;
        font-family: "Rubik";
        font-weight: 600;
        margin-bottom: 15px;

        @media (max-width: 1199px) {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
  }

  &__text {
    p {
      width: 90%;

      @media (max-width: 1199px) {
        width: 100%;
      }
    }
  }

  &__gallery {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    @media (max-width: 1199px) {
      gap: 7px;
    }

    &__image {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 16px;
      background-color: #e7e7e3;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1199px) {
        border-radius: 8px;
      }

      img {
        object-fit: contain;
        width: 90%;
        height: 90%;
        mix-blend-mode: darken;
        cursor: zoom-in;
        object-position: center;
      }
    }
  }
}

.full-screen-modal-gallery-image {
  background-color: #e7e7e3;

  img {
    width: 90%;
    height: 90%;
  }
}
