.subscription-form {
  form {
    margin-top: 32px;
    width: 448px;
    display: flex;
    gap: 4px;

    .input {
      width: 100%;
    }

    button {
      width: 102px;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__status {
    font-size: 12px;
    margin-top: 10px;
    width: 448px;
    line-height: 1.5;

    @media (max-width: 991px) {
      width: 100%;
    }
  }
}
