.cart-page {
  &__content {
    &__heading {
      margin-bottom: 32px;
    }

    &__wrapper {
      display: flex;
      gap: 35px;

      @media (max-width: 1199px) {
        flex-direction: column;
        max-height: 100vh;
        overflow-y: auto;
        border-radius: 16px;
      }

      &__products {
        width: 65%;

        @media (max-width: 1199px) {
          order: 2;
          width: 100%;
        }
      }

      &__order {
        width: 35%;

        @media (max-width: 1199px) {
          order: 1;
          width: 100%;
        }

        button {
          justify-content: center;
          margin-top: 30px;
        }
      }
    }
  }

  .sticky-order {
    position: sticky;
    padding-top: 20px;
    top: 0;
  }
}
