.cart-page {
  &__content {

    &__heading {
      margin-bottom: 32px;
    }

    &__wrapper {
      display: flex;
      gap: 47px;

      &__products {
        width: 70%;
      }

      &__order {
        width: 30%;
      }
    }
  }
}
