.select {
  position: relative;
  font-family: "Rubik";
  font-size: 16px;
  min-width: 184px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    width: 100%;
    min-width: 100%;
    height: 36px;
    font-size: 14px;
    text-transform: none;
  }

  &__active-value {
    font-weight: 600;
    max-height: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #f4f2f2;
    border-radius: 16px;

    @media (max-width: 991px) {
      height: 40px;
      border-radius: 8px;
      font-weight: 500;
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      transition: all 0.2s;
    }
  }

  .menu-open {
    svg {
      rotate: 180deg;
    }
  }

  &__list {
    position: absolute;
    z-index: 100;
    top: 70px;
    right: 0;
    min-width: 100%;
    background-color: #f4f2f2;
    border-radius: 16px;
    padding: 10px 0;
    height: auto;

    @media (max-width: 991px) {
      top: 50px;
    }

    &__item {
      padding: 10px 16px;
      font-weight: 400;

      @media (max-width: 991px) {
        font-size: 14px;
        text-transform: none;
        padding: 5px 16px;
      }

      &:hover {
        cursor: pointer;
        font-weight: 600;
      }

      &-selected {
        font-weight: 600;
      }
    }
  }
}
