.vertical-navigation {
    h4 {
        color: #ffa52f;
        font-size: 24px;
        margin-bottom: 16px;

        @media (max-width: 991px) {
            font-size: 20px;
        }
    }

}

.vertical-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .router-link-active {
        color: #ffa52f;
    }

    &__item {

        .link-variant-wrapper {
            text-align: left;
            padding: 0;
        }

        &__link {
            color: #fff;
            text-decoration: none;
        }
    }
}