.filters {

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: auto;
  }
}