@mixin border-radius($val) {
  border-top-left-radius: $val;
  border-top-right-radius: $val;
}

.footer-top {
  @include border-radius(48px);
  background-color: #4a69e2;
  color: #fff;
  padding: 72px 64px 80px;
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 991px) {
    @include border-radius(24px);
    flex-wrap: wrap;
    padding: 22px 16px 70px;
  }

  &__left {
    width: 55%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__right {
    width: 45%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__subscription-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 32px;
    }
  }

  &__subscription-text {
    font-size: 20px;
    font-weight: 600;

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  &-logo-with-icon {
    position: relative;
    display: inline-flex;

    &__icon {
      position: absolute;
      top: -23px;
      right: -15px;

      @media (max-width: 991px) {
        top: 0;
        right: -11px;
        width: 20px;
      }
    }

    img {
      filter: brightness(0) invert(1);
      height: 88px;

      @media (max-width: 991px) {
        width: 192px;
      }
    }
  }
}
