.categories-carousel {
  background-color: #232321;
  color: #fff;
  padding-top: 40px;

  .carousel__viewport {
    overflow: visible;

    @media (max-width: 991px) {
      overflow: hidden;
    }
  }

  .carousel__slide {
    padding: 30px 48px;

    &:first-child {
      border-top-left-radius: 64px;

      @media (max-width: 991px) {
        border-top-left-radius: 24px;
      }
    }

    &:nth-child(odd) {
      background-color: #eceef0;
    }

    &:nth-child(even) {
      background-color: #f6f6f6;
    }
  }

  &__item {
    width: 100%;

    img {
      width: 80%;
      margin: 0 auto;
      display: flex;

      @media (max-width: 991px) {
        width: 90%;
      }
    }

    .btn {
      svg {
        scale: 1.5;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        width: 50%;
        color: #232321;

        @media (max-width: 991px) {
          font-size: 24px;
        }
      }

      a {
        width: 50%;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
