.categories-carousel {

  &__item {
    width: 100%;

    img {
      width: 70%;
      margin: 0 auto;
      display: flex;

      @media (max-width: 991px) {
        width: 70%;
      }
    }

    .btn {
      svg {
        scale: 1.5;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        width: 50%;
        color: #232321;

        @media (max-width: 991px) {
          font-size: 24px;
        }
      }

      a {
        width: 50%;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 991px) {
          margin-bottom: 0;
        }
      }
    }
  }
}
