.slider {
  display: flex;
  margin: 70px 0;
  position: relative;
  flex-direction: column;
  height: 700px;
  border-radius: 64px;
  overflow: hidden;

  @media (max-width: 991px) {
    margin: 40px 0;
    height: 382px;
    border-radius: 24px;
  }

  &__thumbs {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 14px;
    bottom: 32px;
    right: 32px;

    @media (max-width: 991px) {
      bottom: 16px;
      right: 16px;
      gap: 8px;
    }

    img {
      width: 135px;
      border: 3px solid;
      border-radius: 34px;
      overflow: hidden;
      border-color: #e7e7e3;
      transition: all 0.3s;
      aspect-ratio: 1 / 1;
      object-fit: cover;

      &.active {
        border-color: #ffa52f;
      }

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 991px) {
        width: 64px;
        border-radius: 16px;
        border: 2px solid #e7e7e3;
      }
    }
  }

  .slide {
    overflow: hidden;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    @media (max-width: 991px) {
      padding: 0;
    }

    &[data-visible="false"] {
      visibility: hidden;
    }

    &__label {
      position: absolute;
      top: 80px;
      left: 0;
      width: 70px;

      @media (max-width: 991px) {
        top: 31px;
        max-width: 45px;
      }

      img {
        width: 100%;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      object-fit: cover;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      padding: 48px;

      @media (max-width: 991px) {
        padding: 16px;
      }

      &__info {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 20px;
        color: #fff;

        @media (max-width: 991px) {
          gap: 8px;
        }

        &__title {
          font-size: 74px;
          font-weight: 600;
          line-height: 1;
          max-width: 900px;

          @media (max-width: 991px) {
            font-size: 24px;
          }
        }

        &__description {
          font-size: 24px;
          line-height: 1.3;
          font-weight: 400;
          max-width: 490px;

          @media (max-width: 991px) {
            font-size: 14px;
            max-width: 310px;
          }
        }

        &__button {
          max-width: 150px;

          @media (max-width: 991px) {
            max-width: 120px;
          }

          a {
            color: #fff;
            text-decoration: none;
          }

          button {
            @media (max-width: 991px) {
              height: 35px;
              padding-left: 16px;
              padding-right: 16px;
            }
          }
        }
      }
    }
  }
}
