.checkbox {
  display: flex;
  gap: 10px;

  &--disabled {
    opacity: 0.8;

    .checkbox__label {
      color: #8e8c91;
    }

    .checkbox__field {
      border-color: #8e8c91;
      background-color: #d4d4d4;
    }
  }

  input {
    display: none;
  }

  &__label {
     font-weight: 600;
  }

  &__field {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #232321;
    transition: all .2s;

    &-active {
      background-color: #232321;
    }
  }
}
