.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #dbdbd975;
  z-index: 110;
}
.modal {
  position: fixed;
  z-index: 111;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 15px;
  overflow-y: auto;
  width: 800px;

  @media (max-width: 1199px) {
    width: 95%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 600;
      font-size: 22px;
    }
  }

  &__close {
    scale: 2;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;

    @media (max-width: 1199px) {
      top: 10px;
      right: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    gap: 25px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
