.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #dbdbd9;
  z-index: 110;
}

.modal {
  position: fixed;
  z-index: 111;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 15px;
  overflow-y: auto;
  width: 800px;

  @media (max-width: 1199px) {
    width: 95%;
    top: 20px;
    max-height: calc(100% - 30px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    h4 {
      font-weight: 600;
      font-size: 22px;
    }
  }

  &__close {
    scale: 2.5;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;

    @media (max-width: 1199px) {
      top: 10px;
      right: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    gap: 25px;
    padding: 20px 2px 10px;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 600px;
    height: max-content;
    overflow-y: auto;

    @media (max-width: 1199px) {
      max-height: max-content;
    }
  }
}
