.product-page {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media (max-width: 991px) {
    gap: 25px;
  }

  &__reviews {
    display: flex;
    gap: 10px;
    align-items: center;

    &__trigger {
      text-transform: none;
    }

    &__rating {
      display: flex;
      gap: 5px;
      align-items: center;

      svg {
        scale: 1.6;
      }
    }
  }

  .actions {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;

    &__error-message {
      width: 100%;
      padding: 10px 20px;
    }

    &__add-to-cart {
      flex-grow: 1;
      width: auto;
      justify-content: center;
    }

    &__buy-it-now {
      justify-content: center;
      background-color: #4a69e2;
    }

    &__add-to-favorites {
      @media (max-width: 991px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}
