.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;

  &__page {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    padding: 0 16px;
    border: 1px solid #232321;
    border-radius: 8px;
    font-size: 14px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    svg {
      path {
        stroke: #232321 !important;
      }
    }

    span {
      padding-top: 2px;
      text-transform: uppercase;
    }

    &-active {
      background-color: #232321;
      color: #fff;

      &:hover {
        cursor: default;
      }
    }
  }
}
