.star-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      scale: 2;
    }
  }

  &--large {
    .star-rating__icon {
      width: 22px;
      height: 22px;
      font-size: 12px;

      svg {
        scale: 4;
      }
    }
  }
}
