@mixin image {
  width: 85%;
  height: 85%;
  object-fit: contain;
  mix-blend-mode: darken;
  aspect-ratio: 3;
}

.product-details {
  display: flex;
  gap: 18px;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  .left {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .right {
    font-family: "Rubik";
    width: 35%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 991px) {
      width: 100%;
      gap: 8px;
    }
  }

  &__desktop-gallery {
    overflow: hidden;
    border-radius: 48px;
    object-fit: fill;
    object-position: center;
    position: sticky;
    top: 5px;
    background: #e7e7e3;
    display: flex;
    justify-content: center;
    align-items: center;

    &--one {
      aspect-ratio: 3 / 3;

      &:hover {
        cursor: zoom-in;
      }

      img {
        @include image;
        object-position: top;
      }
    }

    &--many {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);

      &__image {
        aspect-ratio: 5/6;
        background: #eceef0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: zoom-in;
        }

        img {
          @include image;
          object-position: center;
        }
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__mobile-gallery {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__label {
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #4a69e2;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: inline;

    @media (max-width: 991px) {
      font-weight: 500;
      padding: 7px 12px;
      border-radius: 8px;
    }
  }

  &__heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 20px;
    }
  }

  &__price {
    font-size: 24px;
    color: #4a69e2;
    font-weight: 600;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__description {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 20px;
    height: 500px;
    max-height: max-content;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 12px 12px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

    &__title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;

      @media (max-width: 991px) {
        font-size: 16px;
      }
    }

    &--full {
      max-height: max-content;
      background: transparent;
    }

    .show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dbdbd9;
      border-radius: 0 0 12px 12px;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #232321;
        color: #fff;
      }
    }

    &__content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      p {
        margin-bottom: 20px;
      }

      strong {
        font-weight: 600;
      }

      hr {
        margin: 20px 0;
      }

      ul {
        list-style-type: disc;
        padding-left: 30px;

        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.full-screen-modal-gallery-image {
  justify-content: center;
  aspect-ratio: 3 / 3;
  object-position: center;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100%;
  width: 800px;
  background-color: #e7e7e3;
  border-radius: 24px;

  img {
    width: 100%;
    mix-blend-mode: darken;
    object-fit: contain;
    border-radius: 24px;
    overflow: hidden;
    background-color: #e7e7e3;

    &:hover {
      cursor: zoom-out;
    }
  }
}
