.create-order-form {
  &__heading {
    margin-bottom: 32px;
    margin-top: 35px;
  }

  &__textarea {
    textarea {
      padding-top: 10px;
      height: 100px;
    }
  }

  &__checkbox {
    margin-top: 30px;
  }

  form {
    width: 100%;

    .row {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;

      @media (max-width: 1199px) {
        grid-template-columns: 1fr;
      }
    }

    .btn {
      justify-content: center;
      margin-top: 40px;
    }
  }

  .errors {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    font-size: 12px;

    &__title {
      font-weight: 600;
    }
  }
}
