.placeholder {
    background-color: #e1e1dd;
    border-radius: 5px;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}