.register-form {

  &__heading {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}