.product-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    &__image {
        padding: 8px;
        overflow: hidden;
        border-radius: 28px;
        background-color: #fafafa;
        position: relative;
        aspect-ratio: 1/1.1;

        &-placeholder {
            border-radius: 28px;
            overflow: hidden;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 28px;
        }

        &__label {
            position: absolute;
            top: 8px;
            left: 8px;
            border-top-left-radius: 28px;
            border-bottom-right-radius: 28px;
            z-index: 10;
            background-color: #416aea;
            color: #fff;
            font-family: "Rubik";
            font-size: 12px;
            font-weight: 600;
            padding: 12px 16px;
            text-align: center;
        }

    }

    &__title {
        font-size: 24px;
        font-family: "Rubik";
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: 991px) {
            font-size: 16px;
        }
    }

    a {
        margin-top: auto;
        text-decoration: none;
    }

    &__button {

        @media (max-width: 991px) {
            height: 40px;
        }

        strong {
            color: #ffa52f;
        }
    }




}