.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__image {
    overflow: hidden;
    border-radius: 28px;
    background-color: #eceef0;
    position: relative;
    aspect-ratio: 1 / 1.1;
    border: 8px solid #f5f2f2;

    &-placeholder {
      border-radius: 28px;
      overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: contain;
      mix-blend-mode: darken;
      height: 100%;
      border-radius: 28px;
    }

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 24px;
      border-bottom-right-radius: 24px;
      z-index: 10;
      background-color: #416aea;
      color: #fff;
      font-family: "Rubik";
      font-size: 12px;
      font-weight: 600;
      padding: 10px 16px;
      text-align: center;

      @media (max-width: 991px) {
        padding: 7px 13px;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    a {
      color: #232321;
    }
  }

  a {
    margin-top: auto;
    text-decoration: none;
  }

  &__button {
    .btn-text {
      display: flex;
      gap: 5px;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    strong {
      color: #ffa52f;
    }
  }
}
