.heading-with-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;

  &__button {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 991px) {
      button {
        height: 40px;
      }
    }

    a {
      text-decoration: none;
      width: fit-content;
      display: block;
    }
  }

  &__nav {
    &__pagination-button {
      width: 40px;
      height: 6px;
      background-color: #b6b6b2;
      border-radius: 8px;

      &--active {
        background-color: #416aea;
      }
    }
  }
}
