.review-card {
  border-radius: 32px;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;

  @media (max-width: 991px) {
    border-radius: 16px;
  }

  &__header {
    padding: 32px;
    display: flex;
    gap: 8px;

    @media (max-width: 991px) {
      padding: 16px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        font-size: 24px;
        font-weight: 600;
        width: 95%;

        @media (max-width: 230px) {
          font-size: 20px;
        }

        a {
          color: #232321;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        @media (max-width: 230px) {
          font-size: 14px;
        }

        a {
          font-weight: 400;
          color: #232321;
          text-decoration: none;
          opacity: 0.8;
          line-height: 1.3;
        }
      }
    }

    &__avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 64px;
      height: 64px;
      min-width: 64px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: #ababab;

      @media (max-width: 230px) {
        width: 48px;
        min-width: 48px;
        height: 48px;
      }

      &--default {
        scale: 0.7;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__image {
    overflow: hidden;
    height: 325px;
    margin-top: auto;

    @media (max-width: 991px) {
      height: 225px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
