.mini-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #FFA52F;

    @media (max-width: 991px) {
        height: 24px;
        min-width: 24px;
    }

    &__count {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;

        @media (max-width: 991px) {
            font-size: 14px;
        }
    }
}