.empty-data-heading {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 24px;
    line-height: 1.5;

    &__dark {
      color: #fafafa;
    }
  }
}
