$success: #008b28;
$error: #da1e28;
$dark: #232321;

@mixin text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: #1f1a24;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-disabled {
        opacity: 0.3;
    }

    &-label {
        font-size: 14px;
    }

    &-field {
        display: flex;
        position: relative;
        height: 48px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid $dark;

        &-icon {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }

        input {
            @include text;
            outline: $dark;
            border: none;
            box-shadow: none;
            display: flex;
            align-items: center;
            padding: 0 40px 0 16px;
            width: 100%;
            max-width: 100%;
            height: 100%;
            background-color: transparent;

            &::placeholder {
                @include text;
            }
        }
    }

    &-success {
        border-color: $success;
    }

    &-error {
        border-color: $error;
    }

    &-message-error {
        color: $error;
        font-size: 12px;

    }

    &-message-success {
        color: $success;
        font-size: 12px;
    }

    &-light {
        .input-field {
            border-color: #fff;
        }

        .input-message-success,
        .input-message-error {
            background: #fff;
            padding: 4px;
            border-radius: 5px;
        }

        .input-label,
        input,
        input::placeholder {
            color: #fff;
        }
    }
}